@using System.Diagnostics
@using System.Reflection
@using System.Text
@using System.Text.Json
@using ElDesignApp.Models
@using ElDesignApp.Components.MyModals

@rendermode InteractiveServer

@inject NavigationManager MyNavigationManager
@using ElDesignApp.Services
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDataRetrievalService DataService
@inject IGlobalDataService GlobalData
@inject IMyFunctionService MyFunction
@inject ILayoutFunctionService LayoutFunction


@if (!GlobalData.dbConnected)
{
    <div class="align-content-center alert-danger">
        <h4>Database is not connected</h4>
    </div>
}

<div class="container mt-4">
    <div class="row g-3 align-items-center">
        @if (_projects != null && _projects.Any())
        {
            <div class="col-auto">
                <label for="projectDropdown" class="form-label me-2">Select Project</label>
            </div>
            <div class="col-auto">
                <select id="projectDropdown"
                        class="form-select"
                        @bind="_selectedProjectTag"
                        @bind:after="Refresh">
                    @foreach (var project in _projects)
                    {
                        <option value="@project.Tag">@project.Tag | @project.TagDescription</option>
                    }
                </select>
            </div>
        }
    </div>
    <br />
    <br />
    Selected Project: @GlobalData.SelectedProject?.Tag (@GlobalData.SelectedProject?.TagDescription)
</div>



@code {
    List<Project> _projects = [];
    string? _userName = "";
    string _selectedProjectTag = "JI-2048";

    
    protected override async Task OnInitializedAsync()
    {
        Debug.WriteLine($"{DateTime.Now:hh.mm.ss.ffffff} : {MyNavigationManager.Uri}  - {MethodBase.GetCurrentMethod()?.Name}");
        (_projects, string logInfo, string logWarning, string logError) = await DataService.ReadFromCacheOrDb(new Project());
        // filter projects assigned to this user
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _userName = user.Identity?.Name;
        _projects = _projects.Where(p => _userName != null && p.ProjUsers.Contains(_userName)).ToList();
        
        if (_projects.Count > 0)
        {
            GlobalData.dbConnected = true;
            var projects = _projects.Where(project => project.Tag == _selectedProjectTag).ToList();
            GlobalData.SelectedProject = projects.Count > 0 ? projects[0] : _projects[0];
        }

    }
    
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Debug.WriteLine($"{DateTime.Now:hh.mm.ss.ffffff} : {MyNavigationManager.Uri} -  " +
                                           $"{System.Reflection.MethodBase.GetCurrentMethod()?.Name} - First Render:{firstRender}");

        if (firstRender)
        {
            //
        }
    }
    
    private void OnProjectSelected(ChangeEventArgs e)
    {
        _selectedProjectTag = e.Value?.ToString() ?? "";
        GlobalData.SelectedProject = _projects?.Find(proj=>proj?.Tag == _selectedProjectTag);
        StateHasChanged();
    }
    

    


   
    private async Task Refresh()
    {
        
        // refreshing cache
        if (GlobalData.SelectedProject != null && _selectedProjectTag !="")
        {
            GlobalData.SelectedProject = _projects?.Find(proj=>proj?.Tag == _selectedProjectTag);
            Debug.WriteLine($"Selected Project: {GlobalData.SelectedProject?.Tag}");
        }


        (string logInfo, string logWarning, string logError)
            = await DataService.RefreshCache();

        var displayText = MyFunction.LogMessage(logInfo, logWarning, logError);
        Debug.WriteLine(displayText);
        await InvokeAsync(StateHasChanged);
    }
    
    
    
    
    
}